# Ignore node_modules directory
node_modules/

# Ignore build output directory
build/
dist/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

.parcel-cache